body {
  padding: 0;
  text-align: center;
  background-image: url("./../Images/backgroundAll.png");
  background-size: 100% 100%;
  background-attachment: fixed;
/*   display: flex;
  justify-content: flex-start; */
}

#button-reload {
  display: none;
}

/* #container {
  border: 1px solid white;
  margin: 0 auto;
  display: flex;
  text-align: center;
  align-items: center;
} */

#canvas {
  border: 1px solid white;
  background-image: url("./../Images/backgroundCanvas.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin:border-box;
  border-radius: 2.6em;
  width: 36%;
  height: 600px;
  display: block;
  margin: 0px auto;
  margin-top: 200px;
}
