body {
  padding: 0;
  text-align: center;
  background-image: url("./../Images/backgroundAll.png");
  background-size: 100% 100%;
  background-attachment: fixed;
/*   display: flex;
  justify-content: flex-start; */
}

#button-reload {
  display: none;
}

#canvas {
  border: 5px solid rgb(34, 32, 32);
  background-image: url("./../Images/backgroundCanvas.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin:border-box;
  border-radius: 2.6em;
  width: 36%;
  height: 590px;
  display: block;
  margin: 0px auto;
  margin-top: 170px;
}

/* .life-container {
  height: 80px;
  width: 300px;
  background-color: gray;
  position: relative;
}

.life-bar {
  height: 40px;
  width: 100%;
  background-color: green;
  position: absolute;
  left: 0;
  top:20px;
} */