/* body {
	padding: 0;
	text-align: center;
	background-image: url('./../Images/arcademachine.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	display: flex;
	justify-content: flex-start;
} */

canvas {
	border: 1px dotted;
	margin: 0 auto;
	display: block;
}
